.wrapper {
  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);
  background: var(--primary);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  flex: 0;
  transition: all ease 0.1s;
}

.home_icon_link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--header-height);
  height: var(--header-height);
  max-height: var(--header-height);
  overflow: clip;
}

.home_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-contrast);
  text-decoration: none;
  font-size: 50px;
  padding-bottom: 4px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary);
}
