.wrapper {
  width: 230px;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--primary-contrast);
  padding: 0 10px;
  font-size: 1rem;
  background-color: #111;
}
