.page {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow: scroll;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--background);
  padding: 120px 60px;
}

@media (max-width: 600px) {
  .main {
    padding: 40px 24px;
  }
}

@media (max-height: 600px) {
  .main {
    padding: 24px 40px;
  }
}

@media (max-height: 600px) and (max-width: 600px) {
  .main {
    padding: 24px 24px;
  }
}

.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.avatar {
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
