.page {
  --background: #fff;
  --foreground: #000;
  --primary: #2650aa;
  --primary-light: #3b6edc;
  --primary-contrast: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--background);
  padding: 120px 60px;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (max-height: 600px) {
  .main {
    padding: 24px 48px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #fff;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
