.page {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--background);
  padding: 120px 60px;
}

.table_entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.table_entry_hidden {
  display: none;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
