.base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  flex: 0;
  transition: all ease 0.1s;
}

.base:hover {
  background: #444;
}

.base:disabled {
  background: #444;
  color: #999;
  cursor: not-allowed;
}

.regular {
  padding: 10px;
  border-radius: 40px;
  color: var(--primary-contrast);
  background: var(--primary);
}

.regular:hover {
  background: var(--primary-light);
}

.padded {
  padding: 10px;
}

.large {
  font-size: 4rem;
}

.link {
  border-radius: 40px;
}

@media (max-width: 500px) {
  .large {
    font-size: 3rem;
  }
}
