.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 1.5rem;
}

.spinning {
  font-size: 80px;
  animation: spin 1s linear infinite;
  padding-bottom: 6px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
